.tittle {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 96px;
    color: #ffffff;
}

.icn {
    width: 100px;
}

.btn-next {
    left: -50px;
}

.card-img-top {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    object-fit: cover;
}

.owl-next {
    right: -50px;
    position: absolute;
    top: 30px;
}

.owl-prev {
    left: -50px;
    position: absolute;
    top: 30px;
}

.owl-next span,
.owl-prev span {
    font-size: 100px;
    color: black;
}

.title-carousel {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
}

.header-modal {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}
.ttl {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 38px;
    color: black;
}

.dsc {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 24px;
    color: black;
}
