.title {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 48px;
    color: white;
}

.filter-title {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 36px;
    color: white;
}

.filteran {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 24px;
}

.ttl {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 38px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dsc {
    font-family: "Rokkitt", serif;
    font-style: normal;
    font-size: 24px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
